/* @import "tailwindcss"; */
@tailwind base;
@tailwind components;
@tailwind utilities;



/* .login-btn {
    @apply bg-lightBg border border-primary px-3 py-2 text-subtitle font-medium rounded-lg cursor-pointer;
}
.singup-btn {
    @apply bg-primary border border-primary px-3 py-2 text-lightBg font-medium rounded-lg hover:bg-primary/80 cursor-pointer;
}
.logo{

    @apply bg-primary rounded-full w-16 h-16;
} */

.btn-primary {
    @apply bg-gray-400 text-gray-800 w-full py-2 cursor-pointer rounded-lg font-semibold hover:bg-blue-500/80 transition duration-300 items-center justify-center gap-2 flex;
}
.input-link {
    @apply w-full pl-10 pr-4 py-4 rounded-lg text-sm border border-gray-200 placeholder:text-gray-500 ;
}